@use "sass:map";

// fonts
.text-violet{
    color: map.get($primary, "Violet");
}

.text-violet{
    color: map.get($primary, "Soft Magenta");
}

// backgrounds
.bg-violet{
    background-color: map.get($primary, "Violet");
}

.bg-violet{
    background-color: map.get($primary, "Soft Magenta");
}