//fonts
@font-face {
  font-family: "Open sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

$font-family: "Poppins";
$font-size: 16px;

// colors
$primary: (
  "Violet": hsl(257, 40%, 49%),
  "Soft Magenta": hsl(300, 69%, 71%),
);

//breakpoints
$list_breakpoints: xs, sm, md, lg, xl, xxl;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
